<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.230728.104656-sym" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.230709.141821-sym" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.230730.133415-sym" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.230408.121401-sym" targetFramework="net481" />
  <package id="nilnul._lang_._LIB_" version="1.1.220905.132316" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.230722.131813-sym" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.230722.131813-sym" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.230802.30240-sym" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.230726.152914-sym" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.230730.135726-sym" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.221218.142109" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
</packages>